name: Build mdbook and upload
on: 
  push: 
    branches: ["main"]
    
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  packages: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install system dependencies (for WeasyPrint)
        run: |
          sudo apt-get update
          sudo apt-get install -y libcairo2 libpango-1.0-0 libpangocairo-1.0-0 libgdk-pixbuf2.0-0 libffi-dev shared-mime-info

      - name: Install Python dependencies
        run: pip install -r requirements.txt

      - name: Build book
        run: |
          export ENABLE_PDF_EXPORT=1
          mkdocs build

      - name: Upload html (pages) artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./site

      - name: Upload html (archive) artifact
        uses: actions/upload-artifact@v4
        with:
          name: book-html
          path: ./site

      - name: Upload pdf artifact
        uses: actions/upload-artifact@v4
        with:
          name: book-pdf
          path: ./site/pdf

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

